/* You can add global styles to this file, and also import other style files */
*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    padding: 1rem;
    min-height: 100vh;
}

p {
    margin-bottom: 0.25rem;
}

button {
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-right: 0.5rem;
}

li {
    margin-left: 1rem;
    padding: 0.3rem 0.5rem;
}

select {
    margin-right: 0.5rem;
    padding: 0.25rem;
    font-size: 0.95rem;
}

.blue span {
    color: blue;
}

.red span {
    color: red;
}

label {
    color: #808080;
}
