<div>
  <h1>{{ `${version} - ${description}` }}</h1>
    <div>
      <p>PR:</p>
      <ol style="margin-bottom: 1rem;">
        <li><a href="https://github.com/angular/angular/pull/59947" target="_blank">
          https://github.com/angular/angular/pull/59947
        </a></li>
      </ol>
      <div>
        <label for="greeting">Greeting: </label>
        @let options = ['morning', 'afternoon', 'day', 'evening', 'to see you', 'day to you'];
        <select [(ngModel)]="greeting" id="greeting" name="greeting">
          @for (option of options; track option) {
            <option [ngValue]="option">{{ option }}</option>
          }
        </select>
      </div>
      <p>
        {{ greet`Hello ${name()}, Good ${greeting()}!` }}
      </p>
      <p>
        {{ greet`Wait up, ${name()}. How do say ${greeting()} in Spanish?` }}
      </p>
    </div>
</div>