<div>  
  <button (click)="setUrl()">
    <ng-content>Show Http Status Code</ng-content>
  </button>
  <p>{{ `Url: ${data()}` }}</p>
  <p>Status Code: {{ statusCode() ? statusCode() : '' }}</p> 
  @if (pokemonResourceRef.isLoading()) {
    <p>Loading...</p>
  } @else if (error()) {
    <p>Error: {{ error()?.message }}</p>
  } @else if (value()) {
    <p>
    Pikachu:
    {{ value()?.id }}, {{ value()?.name }}, {{ value()?.weight }}, {{ value()?.height }}
    </p>
  }

  @if (this.headers()) {
    <p style="text-decoration: underline;">Headers</p>
    @let keys = headers()?.keys() || [];
    {{ keys.length }}
    <ol>
    @for (key of keys; track key) {
      <li>{{ `headers["${key}"] = ${headers()?.get(key)}` }}</li>
    }
    </ol>
  }
</div>
