.page-grid {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: calc(100vh - 2rem);
}

header, .navbar {
    grid-row: 1 / 2;
    padding: 1rem 0;
    background-color: darkgray
}

.router-content {
    grid-row: 2 / 3;
}

footer {
    grid-row: 3 / 4;
    padding: 1rem 0;
    background-color: darkgray
}

.links {
    display: flex;
    flex-wrap: wrap;
}

.links > a {
    flex: 1 1 auto;
}