<div>
    <h1>{{ `${version} - ${name}` }}</h1>
    <h2>{{ description }}</h2>
    <h3>PR:</h3>
    <ul>
      @for (pr of prs; track pr) {
        <li><a [href]="pr" target="_blank">{{ pr }}</a></li>
      }
    </ul>
    <div>
        <div>
            <label>
                <span>Find square root of a number:</span>
                <input type="number" [(ngModel)]="query" />
            </label>
            <button (click)="calculateSquareRoot()">Calculate</button>
            @if (typeof squareRoot() !== 'undefined') {
                <p>Square root of {{ neutralNumber() }} is {{ squareRoot() }}</p>
            }    
        </div>
    </div>
</div>
    