@let p = pokemon();
@if (p) {
    <p>{{ `ID: ${p.id}` }}</p>
    <p>{{ `Name: ${p.name}` }}</p>
    <p>{{ `Weight: ${p.weight}` }}</p>
    <p>{{ `Height: ${p.height}` }}</p>
    <div>
        <p>Sprites:</p>
        <div class="images">
        @for (sprite of p.sprites; track sprite) {
            <img alt="Pokemon image" [src]="sprite" />
        } @empty {
            <p>No sprite available</p>
        }
        </div>
    </div>
    <ol>
        <p>Types:</p>
        @for (pokemonType of p.types; track pokemonType.slot) {
            <li>{{ pokemonType.type }}</li>
        } @empty {
            <li>No type available</li>
        }
    </ol>
}