<div>
    <h3 class="fighters">Fighters</h3>
    @if (charactersResource.isLoading()) {
        <p>Loading characters...</p>
    } @else if (charactersResource.error()) {
        <p>Error: {{ charactersResource.error() }}</p>
    } @else {
        <router-outlet [routerOutletData]="selectedFighter()" />
        @if (charactersResource.hasValue()) {
            @let characters = charactersResource.value();
            @for (c of characters; track c.id) {
                <div style="border: 1px solid black; border-radius: 0.25rem; margin-bottom: 1rem; padding: 0.75rem;">
                    <p>id: {{ c.id }}</p>
                    <p>Name: {{ c.name }}</p>
                    <p>Gender: {{ c.gender }}</p>
                    <a [routerLink]="['fighters', c.id]" (click)="selectFighter(c)">See details</a>
                </div>
            }
        }
    }

</div>